<script type="text/javascript" src="{$basePath}/module/front/js/jquery.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>
<link rel="stylesheet" href="{$basePath}/module/front/css/style.css" media="all">
<link rel="stylesheet" href="{$basePath}/module/front/css/bootstrap/bootstrap.min.css" media="all">
<link rel="stylesheet" href="{$basePath}/module/front/css/timeline/style.css" media="all">
<link rel="stylesheet" href="{$basePath}/module/front/css/fontawesome.all.min.css" media="all">
<link rel="stylesheet" href="{$basePath}/module/front/css/dot/style.css" media="all">
<link rel="stylesheet" href="{$basePath}/module/front/css/menu/style.css" media="all">
