{block content}

{include "./include/about.latte"}
{include "./include/projects.latte"}
{include "./include/timeline.latte"}
{include "./include/technologies.latte"}
{include "./include/contact.latte"}