parameters:

extensions:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

services:
	- App\Router\RouterFactory::createRouter
	latte.templateFactory:
		factory: Nette\Bridges\ApplicationLatte\TemplateFactory
	- App\Model\Security\Authenticator
	- App\Model\Authorizator
	user:
	    class: App\Model\Security\User
	- App\Model\Services\Emails\EmailSenderService

includes:
    - Monolog/monolog.neon
    - Console/console.neon
    - Nextras/orm.neon
    - Deployer/deployer.neon
    - Translator/translator.neon
    - Connectors/connectors.neon
    - ../AdminModule/config/common.neon
