extensions:
	deployer: Contributte\Deployer\DI\DeployerExtension

parameters:
	deploy:
		protocol: %deployer.protocol%
		user: %deployer.user%
		password: %deployer.password%
		scheme: %deployer.scheme%

deployer:
	config:
		mode: deploy
		logFile: %appDir%/../log/deployer/deployer.log
		tempDir: %appDir%/../temp
		colors: yes

	# User specific variables
	userdata:

	# Plugins specification (see more in PLUGINS.md)
	plugins:

	# Web sections
	sections:
		operarius:
			remote: %deploy.protocol%://%deploy.user%:%deploy.password%@%deploy.scheme%
			local: %wwwDir%
			testMode: false

			allowdelete: true
			passiveMode: true
			preprocess: false
			deployFile: deploy.ini

			ignore:
				# Common
				- .git*
				- .idea*
				- .htaccess
				- readme.md
				- deploy.ini.tmp
				- tunnel.bat

				# Application
				- /_doc
				- /app/config/local.neon
				- /bin
				- /db
				- /log
				- /temp
				- /src
				- /vendor

				# Root
				- /www/fonts/*
				- /www/module/webfonts
				- /www/node_modules
				- /www/robots.txt

				#TODO VENDOR UPDATE PIPELINES

			before:
			after:

			purge:
				- temp/cache