<style>
    #map{
        position: relative;
        width: 500px;
        top:0;
        left:0;
        z-index: 1000;
    }
</style>
{var $template = WWW_DIR . '/img/pdf/sablona.png' }
<div style="position:absolute;background-image: url({$template|noescape});width: 100%;height: 100%;background-size: 100% 100%">
</div>

{var $map = WWW_DIR . '/files/posters/'.$poster->hash.'.png'}
<img src="C:/xampp80/htdocs/starposter/app/../www/files/posters/37nv7bbuf4.png" id="map"/>