extensions:
    translation: Contributte\Translation\DI\TranslationExtension


translation:
    locales:
        whitelist: [en]
        default: en
        fallback: [en]
    dirs:
        - %appDir%/lang
    debugger: true
