<div class="theme-helper">
    <section class="widget theme-helper-content">
        <header class="theme-helper-header d-flex p-0">
            <div class="theme-helper-toggler hidden-print" data-step='4' data-position="left" data-intro="It's a theme customizer sidebar, go inside it! ðŸ˜ƒï¸">
                <div class="theme-helper-spinner text-white">
                    <i class="la la-cog"></i>
                    <i class="la la-cog fs-smaller"></i>
                </div>
            </div>
            <h6>Links</h6>
        </header>
        <div class="widget-body mt-3">

            <div class="mt-4">
                <a href="https://flatlogic.com/templates/light-blue-html5"
                   target="_blank"
                   role="button"
                   class="btn btn-warning btn-rounded-f btn-block fs-mini">
                    Purchase
                </a>
                <a href="http://demo.flatlogic.com/sing-app/documentation/"
                   target="_blank"
                   role="button"
                   class="btn btn-default btn-rounded-f btn-block fs-mini">
                    Documentation
                </a>
            </div>
            <div class="d-flex justify-content-between mt-lg">
                <a role="button"
                   target="_blank"
                   href="https://flatlogic.com/contact"
                   class="btn btn-outline-default btn-rounded-f fs-mini">
                    <i class="glyphicon glyphicon-headphones mr-xs"></i>
                    Support
                </a>
                <a role="button"
                   target="_blank"
                   href="https://github.com/flatlogic/light-blue-dashboard"
                   class="btn btn-outline-default btn-rounded-f fs-mini">
                    <i class="fa fa-github mr-xs"></i>
                    Github
                </a>
            </div>
            <div class="mt-lg d-flex flex-column align-items-center theme-sharing">
                <span class="fs-sm">
                    Thank you for sharing!
                </span>
                <div class="d-flex justify-content-center text-light mt-2">
                    <a target="_blank"
                       href="https://twitter.com/intent/tweet?text=Admin%20dashboard%20template%20built%20with%20NodeJS,%20React%20and%20Bootstrap%204!&url=https://demo.flatlogic.com/sing-app/html-bs4/&via=flatlogic">
                        <i class="fa fa-twitter pr-1 mr-3"></i>
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://demo.flatlogic.com/sing-app/html-bs4/"
                       target="_blank">
                        <i class="fa fa-facebook pl-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
