{block content}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{_common.home}</li>
        <li class="breadcrumb-item active">{_app.orders.title}</li>
    </ol>
    <h1 class="page-title">{_app.orders.title}</h1>
    <div class="row">
        <div class="col-lg-12">
            {control ordersDatagrid}
        </div>
    </div>
{/block}