{block content}

<main class="form-signin">
    {form loginForm}
        <h1 class="h3 mb-3 fw-normal">Přihlášení</h1>

        <label class="visually-hidden" n:name="password">Heslo</label>
        <input type="password" n:name="password" class="form-control" placeholder="Zadejte heslo..." required>

        <button class="w-100 btn btn-lg btn-primary" type="submit" n:name="send">Přihlásit se</button>

        <p class="mt-5 mb-3 text-muted">&copy; {="now"|date:'Y'}</p>
    {/form}
</main>